footer {
    background: #fff; 
    height: 90px;
    border-top: 1px solid #BBB; 
    border-bottom:  1px solid #BBB;
  
}

footer .footer-content {
    width: 100%;
    max-width: 980px; 
    margin: 0 auto; 
    height: 82px;
    padding: 0 30px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}


footer .footer-content buttom { 
    height: 32px;

}


footer p {
    color: #615c5c;
    margin-bottom: 0px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-style: none; 
  }