.container {
    width: 100vw;
    height: 50vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.card {
    width: 400px;
 
    background: #fff;
}