section#device-list {
    width: 100%;
    max-width: 680px;
    margin: 0 auto; 
    padding: 30px; 
    background: #EEE;
}

section#device-list device {
    background: #AAA;
    margin-top: 30px; 
}

section#device-list device header {
    background: #FFF;
    margin: 10px;
    padding: 15px; 
    border: 1px solid #CCC;
    display: flex; 
    align-content: center; 
    justify-content: space-between; 
}

section#device-list device header .device-info {
    display: flex;
    flex-direction: column; 
}


section#device-list device header .device-info span {
    font-size: 13px 
}

section#device-list device header .device-info span.status {
    font-size: 11px; 
    color: #666; 
    margin-top: 3px;  
}